// 设置placeholder样式
@mixin placeholder($color: #CCC, $font-size: inherit){
    &::-moz-placeholder {
        color: $color;
        font-size: $font-size;
    }
    &:-ms-input-placeholder {
        color: $color;
        font-size: $font-size;
    }
    &::-webkit-input-placeholder {
        color: $color;
        font-size: $font-size;
    }
}

// flex 居中
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
